// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

$ds-color-black:         #000000;


// -----------------------------------------------------------------------------
// Items
// Use these variables in other files for easy color changes
// -----------------------------------------------------------------------------

$ds-color-background:       $ds-color-black;
$ds-color-box-shadow:       $ds-color-black;
$ds-color-text:             $ds-color-black;
$ds-color-text-light:       $ds-color-black;
$ds-color-link:             $ds-color-black;
$ds-color-heading:          $ds-color-black;
$ds-color-selection:        $ds-color-black;
$ds-color-selection-text:   $ds-color-black;
$ds-color-input:            $ds-color-black;
$ds-color-input-border:     $ds-color-black;
$ds-color-input-text:       $ds-color-black;
$ds-color-button:           $ds-color-black;
$ds-color-button-text:      $ds-color-black;
$ds-color-border:           $ds-color-black;
